.pro_page{
	background-color: aliceblue;
	background-image:url('@/assets/bg.jpeg') ;
	height: 100vh;
	min-height: 700px;
	background-size: cover;
	.pro_box{
		height: 94%;
		width: 96%;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 10px;
		position: relative;
		left: 2%;
		top: 3%;
		.el-button{
			position: absolute; // 设置绝对定位
			top: 10px;
			right: 10px;
		}
		.iod{
			margin-top: 20px;
			display: flex; // 使用 Flexbox 布局
			justify-content: center; // 水平居中
			align-items: center; // 垂直居中
			color: #2a2a2a;
			font-size: 24px;
			font-weight: bold;
			height: 80px;
			line-height: 80px;
		}
		// 顶部内容
		.welcome{
			display: flex; // 使用 Flexbox 布局
			justify-content: center; // 水平居中
			align-items: center; // 垂直居中
			color: #2a2a2a;
			font-size: 24px;
			font-weight: bold;
			height: 80px;
			line-height: 80px;
			
		}
		// 项目卡片
		.pro_list{
			.pro{
				position: relative;
				height: 400px;
				background: #00aaff;
				text-align: center;
				img{
					height: 400px; 
					width: 100%; // 使图片宽度占满 .pro 容器
					object-fit: cover; // 保持图片比例并裁剪以填满容器
				}
				.name {
				      position: absolute; // 设置绝对定位
				      top: 50%;
				      left: 50%;
				      transform: translate(-50%, -50%); // 将文字居中
				      color: #000; // 文字颜色
				      font: bold 28px/80px '微软雅黑';
				      background: rgba(0, 0, 0, 0.1); // 可选：背景色以提高可读性
				      padding: 10px; // 可选：内边距
				      border-radius: 5px; // 可选：圆角
				}
				.btn_box1{
					position: absolute; // 设置绝对定位
					left: 50%;
					bottom: 20%;
					transform: translate(-50%, -50%); // 将文字居中
					bottom: 55px;
				}
				.btn_box2{
					position: absolute; // 设置绝对定位
					left: 56%;
					bottom: 40px;
					transform: translate(-50%, -50%); // 将文字居中
					bottom: 55px;
				}
			}
			
			// .name{
			// 	color: #2a2a2a;
			// 	height: 80px;
			// 	background: #fff;
			// 	font: bold 28px/80px '微软雅黑';
			// 	text-align: center; // 确保文字居中
			// }
		}
	}
		
}
		
		/* .el-carousel__item h3 {
		  color: #475669;
		  opacity: 0.75;
		  line-height: 200px;
		  margin: 0;
		  text-align: center;
		}
		
		.el-carousel__item:nth-child(2n) {
		  background-color: #99a9bf;
		}
		
		.el-carousel__item:nth-child(2n + 1) {
		  background-color: #d3dce6;
		} */